.color-info {
    border: 3px solid black;
}

h1 {
  font-family: fantasy;
  font-size: 50px;
  text-align: center;
  padding-bottom: 40px;
}

h2 {
  font-family: fantasy;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

h3 {
  font-family: fantasy;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-brand{
  font-family: fantasy;
}

html,body {
	height: 100% !important;
	margin: 0;
	background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
	overflow-x: auto;
	max-width: 100%;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
	box-sizing:border-box;
}

*::before, *::after {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


 .section-background-image {
	background-image: url(http://bengoodwin.com.au/js/images/background.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.25;
}

.section {
	background-color: #fff;
	color: inherit;
	position: relative;
	padding: 85px 0;
	background-color: #f6f6f6;
	color: inherit;
	text-align: center;


}

.section-dark {
	background-color: #222;
	color: #ccc;
}

.quiz-section {
	padding: 160px 0;
	text-align: center;
	height: 100%;
}

.quiz-section .container {
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;
}

.quiz-section:before {
	content: "";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

/*make the background somewhat darker*/
.quiz-section:after {
	content: "";
	position: absolute;
	top: 0;
	z-index: 0;
	height: 160px;
	width: 100%;
	display: block;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	opacity: 0.3;
}

@media ( max-width: 991px ) {
	.quiz-section.quiz-fullscreen {
		height: auto;
	}
	.quiz-start-link {
		display: none;
	}
}

.quizintrobox {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    padding: 11.5px 17px;
	max-width: 650px;
}


.section-background-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #222;
	color: #ccc;
}

 img {
    max-width: 100%;
    height: auto;
}

.form {
  max-width: 20%;
  margin: 0 auto;
  align-content: center;
}


.card-deck {
  padding-left: 50px;
  padding-right: 50px;
}

p{
  padding-right: 70px;
  padding-left: 70px;
  text-align: center;
}

.brand-text{
  padding-left: 20px;
  padding-right: 20px;
}

.brand-header{
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.column{
  text-align: center;
}

.home-heading{
  padding-bottom: 0px;
}

a{
  color: red;
}

/* Card Deck */
*{
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.33%;
padding: 10px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
}

/* 2 columns */
/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* influencer images */
img{
  padding-bottom: 30px;
}



/*
