
.color-info {
    border: 3px solid black;
=======

.color-info {
    border: 3px solid black;
>>>>>>> 17f53aa6276b29042cdc548b94dee243720c6171
}

h1 {
  font-family: fantasy;
  font-size: 50px;
  text-align: center;
}

h2{
  text-align: center;
}
